//Widescreens
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops 6 Laptops 
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets & Small Laptops
@include mediaMd {

    // content in the middle for middle screen
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul-menu-nav,
    div.menu-branding {
        float: none; // there are not floting
        width: 100%;
        min-height: 0; // 

        &.show {
            transform: translate(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh; // takes 25 slices
        width: 100%;
        transform: translate3d(-100%, 0, 0); // the open effects will come from the left
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh; // less height so we got a small portrait rect box and the img on the center
        transform: translate3d(100%, 0, 0) // coming from the right
    }

    .portrait {
        background: url(../img/portrait_small.jpg);
        width: 150px;
        height: 150px;
    }

    .about-info {
        grid-template-areas: 'bioimage''bio''job1''job2''job3';
        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Smartphones 
@include mediaSm {
    main#home h1 {
        // this margin top is important when the screen get small from the top to bottom
        margin-top: 10vh; // so this h1 juan s cabrera
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
    }

    main {
        padding: 2rem;

        #home h1 {
            margin-top: 10vh;
        }

        .lg-heading {
            margin-top: 1rem;
            font-size: 5rem;
        }
    }

    .works {
        display: grid;
        grid-gap: 100px;
        grid-template-areas: 'slider2''review';
        grid-template-columns: repeat(1, 1fr);
    }

}